body{background:#DEE1E6; width:1200px; margin:0 auto;}
header{width:1200px; margin:0 auto; float:left;}
header img{width: 1200px; height:500px;}
.heading{width:600px;}
.search{float:left;}
.menu_area{background:#E0CA97; width:1200px; height:50px; margin:0auto;  overflow:hidden; }
.menu_area ul{ list-style:none; }
.menu_area span{color:orange;}
.menu_area ul li{float:left; margin-left:120px;}
.menu_area ul li a{text-decoration:none; font-size:20px; color:FF0000; padding-top:16px; padding-bottom:25px;transition:1s;}
.menu_area ul li a:hover{transition:1s;background:FF0000; color:73ADEF; padding:20px;}
.best_product{width:1200px; margin:0 auto;}
.item1{width:350px; float:left; text-align:center; margin:30px 20px 30px 20px;}
.item1 img{width:250px; height:150 }
.item1 img:hover {opacity:0.5;cursor:pointer;}
.item1 h2{color:#0069A5 }
.item1 p{text-align:justify; font-weight: bold; font-style: italic;}
.item2{width:350px; float:left; text-align:center; margin:30px 20px 30px 20px;}
.item2 img{width:200px; height:150}
.item2 h2{color:#0069A5}
.item2 p{text-align:justify; font-weight: bold; font-style: italic;}
.item3{width:350px; float:left; text-align:center;  margin:30px 20px 30px 20px;}
.item3 img{width:200px; height:150px;}
.item3 h2{color:#0069A5}
.item3 p{text-align:justify; font-weight: bold; font-style: italic;}
.group_area{ width:1200px; margin: 0 auto;}
.group img{ width: 600px; float:left;}
.name{width:600px; float:left; }
.names{color:#A40C0C}
.vidmap{width:1200px;  margin:0auto; overflow:hidden; padding-top:100px; }
.vid{width:600; float:left; padding-top:80px;  }
.map{width:600; float:left; text-align:right; }
.footer_area{width:1200px; padding-top:50px; background:#E0CA97; overflow:hidden;}
.footer_1{width:300px;float:left; font-size:20px; padding-top:20px; color:#B31410;}
.footer_2{width:300px;float:left; color:#B31410; }
.footer_4{width:200px; float:left; font-size:25px; }
.footer_5{width:400px;  float:left ;}
.footer_4 ul{list-style:none;}
.footer_4 ul li a{text-decoration:none; color:#FF0000; }
.footer_4 ul li a:hover{transition:.5s;color:#73ADEF;}
.footer_5 img{width:250px;  text-align:center;}
.footer_3  a{text-decoration:none; font-size:35px; color:#FF0000;}
.footer_3  a:hover{ color:#73ADEF;}
